# Banco de Dados PostgreSQL (obrigatório para o Prisma)
DATABASE_URL="postgresql://usuario:senha@localhost:5432/labinvest?schema=public"

# Servidor
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=seu-segredo-super-seguro-aqui
JWT_EXPIRES_IN=1d
